body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-image: url('image.JPG');
    background-repeat: no-repeat; 
    background-size: cover; 
}

.calculator {
    border-radius: 10px;
    margin-top: 1%;
    padding: 20px; 
    width: 400px; 
    background: rgba(0, 0, 0, 0.7); 
}

#display {
    width: 92%;
    height: 60px; 
    font-size: 2.5em;
    text-align: right;
    padding: 15px; 
    margin-top: 10px;
    margin-bottom: 30px;
    border: 2px solid rgba(255, 255, 255, 0.5); 
    border-radius: 5px;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0.8); 
    box-shadow: 0 2px 5px rgba(0, 191, 255, 0.396);
    color: #fff; 
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px; 
}

button {
    padding: 20px;
    font-size: 1.5em;
    border: 2px solid rgba(255, 255, 255, 0.7); 
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    background: rgba(255, 255, 255, 0.3); 
    color: #fff; 
    backdrop-filter: blur(5px); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: rgba(174, 0, 255, 0.6); 
    transform: translateY(-5px) scale(1.05); 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5); 
}

button:active {
    transform: translateY(2px) scale(1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.equal {
    background-color: rgba(177, 0, 237, 0.8); 
}

.equal:hover {
    background-color: rgba(25, 118, 210, 0.8); 
}

.equal:active {
    transform: translateY(2px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

button:nth-child(1),
button:nth-child(2) {
    background-color: rgba(0, 110, 255, 0.6); 
}

button:nth-child(1):hover,
button:nth-child(2):hover {
    background-color: rgba(255, 138, 128, 0.6); 
}

.cartoon {
    filter: brightness(1.1) saturate(1.3) contrast(1.2);
    border: 3px solid #000; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

button.cartoon {
    color: #fff; 
}

button.cartoon:hover {
    color: #000; 
}
